*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* header */


/* logo */
.logo img {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
}
/* nav */
nav {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav img {
    width: 25px;
}

/* nav */
nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* menu icon */
.menu-icon{
    display: none;
}
/* button */
.button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #ff523b;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: 0.5s;
}

.button:hover {
    background: #563434;
}

/* featured Products */
.products {
    color: white;

}


/* heading */
.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.heading h2{
    font-weight: 700;
}

.heading select{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    outline: none;
}

 .heading select option{
    color: black;
    font-weight: 400;
 }

.products h2 {
    padding-top: 20px;
}


/* grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;
    justify-content: center;
    margin: 40px 0px 40px 0;
}

/* items */
.item {
    transition: 0.7s;
    /* border: 1px solid black; */
}

.item h4 {
    color: black;
}

.item p {
    color: black;
}

.item:hover {
    transform: scale(1.1);
}

.item img {
    border-radius: 10px;
    width: 100%;
    margin: 40px 0;
}

.item i {
    color: orange;
}


/* Page Button */
.page-button{
    margin: 50px auto 80px;
}

.page-button span{
    border: 2px solid beige;
    padding: 10px 15px;
}

.page-button span:hover{
    background-color: #ff523b;
    color: white;
    cursor: pointer;
}


/* footere */

.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    background-color: black;
    color: white;
}

/* box */

.boxx{
    width: 200px;
    height: 200px;
    padding: 10px;
}

.boxx1 img{
    width: 85px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-top: 10px;
}

.boxx h2{
    padding-bottom: 10px;
}


.boxx2 img{
    max-width: 200px;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    object-fit: cover;
}

.boxx h3{
    padding-bottom: 10px;
}

.boxx ul li{
    list-style: none;
    color: gray;
    display: flex;
    margin-top: 10px;
}

/* media quries */
@media (max-width:600px) {
    .timer {
        flex-direction: column;
    }
    .timer .right-box {
        text-align: center;
    }

    .grid-container .item{
        text-align: center;
    }

    
    .footer{
        justify-content: center;
        text-align: center;
    }

    .footer li{
        justify-content: center;
    }
}

@media(max-width:830px) {
    .navbar{
        width: 100%;
    }
    nav ul{
        display: none;
        /* position: absolute;
        top: 70px;
        right: 0;
        background: #333; */
        /* width: 100%; */
    }

    /* nav li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    } */

    .menu-icon{
        display: block;
    }
}