@import url(../globle.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* account */
.account{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}


/* left */
.left-side img{
    width: 100%;
}

/* right side */
.right-side{
    width: 100%;
}


/* Form Container */
.form-container{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form .btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;
}

.button{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

/* login form */
#logform{
    left: -300px;
}

#regform{
    left: 0;
}

form a{
    font-size: 12px;
    text-decoration: none;
}

/* indicator */
#Indicator{
    width: 100px;
    border: 2px solid orangered;
    background-color: #ff523b;
    margin-top: 8px;
    margin-left: 50px;
    transform: translateX(100px);
}


@media (min-width:950px) {
    .right-side{
        max-width: 300px;
        width: 100%;
    }
}