@import url(../globle.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cart item */
.cart-item{
    margin: 80px auto;
    max-width: 350px;
    width: 100%;
}

.cart-item table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: orangered;
    text-align: left;
    font-weight: normal;
    padding: 10px;
    color: white;
}

td{
    padding: 10px 5px;
}

tr input{
    outline: none;
    width: 50px;
    height: 30px;
    padding: 5px;
}

/* cart-info */
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

.cart-info img{
    width: 80px;
    height: 80px;                 
    object-fit: cover;
    border: 2px solid black;
}

.cart-info div{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.cart-info small{
    padding-top: 5px;
    font-weight: 600;

}

.cart-info a{
    color: orangered;
    text-decoration: none;
    margin-top: 5px;
    font-weight: 500;
}

/* Total Price */
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
